@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 70%;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
html body {
  height: 100vh;
  background-color: hsl(214deg, 47%, 23%);
  padding: 5% 10% 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html body .hidden {
  visibility: hidden;
}
html body .rules {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 10% 5% 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html body .rules__name {
  color: #343d5b;
  font-size: 2rem;
  text-align: center;
}
html body .rules__image {
  height: 40%;
}
html body .rules__cross {
  width: 1.5rem;
  height: 1.5rem;
}
html body header {
  display: flex;
  justify-content: space-between;
  border: solid 0.2rem hsl(217deg, 16%, 45%);
  border-radius: 0.8rem;
  padding: 5%;
}
html body header .header__title {
  display: flex;
  justify-content: center;
}
html body header .header__title img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 6rem;
}
html body header .header__score {
  height: 5rem;
  width: 5.5rem;
  background-color: white;
  border-radius: 0.3rem;
  padding: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body header .header__score__name {
  height: 33%;
  color: hsl(229deg, 64%, 46%);
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body header .header__score__points {
  height: 66%;
  color: hsl(229deg, 25%, 31%);
  vertical-align: middle;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
html body main .circle {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body main .circle img {
  width: 3rem;
}
html body main .blue {
  border: solid 1rem hsl(230deg, 89%, 62%);
}
html body main .yellow {
  border: solid 1rem hsl(39deg, 89%, 49%);
}
html body main .red {
  border: solid 1rem hsl(349deg, 71%, 52%);
}
html body main .container {
  position: relative;
  width: 100%;
  height: 80%;
  background-image: url(images/bg-triangle.svg);
  background-size: 13rem;
  background-repeat: no-repeat;
  background-position: center 50%;
}
html body main .container #blue {
  top: 14%;
  left: 6%;
}
html body main .container #yellow {
  top: 14%;
  right: 6%;
}
html body main .container #red {
  left: 33%;
  bottom: 18%;
}
html body main .results {
  position: absolute;
  left: 0;
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
}
html body main .results__choice {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body main .results__choice__logo {
  position: static;
}
html body main .results__choice__text {
  margin-top: 1rem;
  font-size: 1rem;
}
html body main .results__result {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
html body main .results__result__text {
  font-size: 3rem;
}
html body main .results__result__play-again {
  display: inline-block;
  background-color: white;
  font-size: 1rem;
  color: hsl(214deg, 47%, 23%);
  border: solid 1px white;
  border-radius: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem 4rem;
}
html .seerules {
  display: inline-block;
  font-size: 1 rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: solid white 0.1rem;
  border-radius: 0.8rem;
  padding: 0.8rem 4rem;
}
html footer {
  text-align: center;
  font-weight: normal;
  text-transform: none;
  font-size: 0.8rem;
}
html footer a {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
}

@media (min-width: 375px) {
  html body main .container #blue {
    top: 12%;
    left: 12%;
  }
  html body main .container #yellow {
    top: 12%;
    right: 12%;
  }
  html body main .container #red {
    left: 35%;
    bottom: 18%;
  }
}
@media (min-width: 425px) {
  html body main .container #blue {
    top: 12%;
    left: 15%;
  }
  html body main .container #yellow {
    top: 12%;
    right: 15%;
  }
  html body main .container #red {
    left: 37%;
    bottom: 18%;
  }
}
@media (min-width: 768px) {
  html body {
    padding: 5% 10% 5% 10%;
  }
  html body .rules {
    align-items: center;
  }
  html body .rules__name {
    font-size: 4rem;
  }
  html body .rules__cross {
    width: 2.5rem;
    height: 2.5rem;
  }
  html body header .header__title img {
    width: 15rem;
  }
  html body header .header__score {
    height: 10rem;
    width: 10.5rem;
  }
  html body header .header__score__name {
    font-size: 2rem;
  }
  html body header .header__score__points {
    font-size: 5rem;
  }
  html body main .circle {
    padding: 10%;
  }
  html body main .circle img {
    width: 5rem;
  }
  html body main .blue {
    border: solid 2rem hsl(230deg, 89%, 62%);
  }
  html body main .yellow {
    border: solid 2rem hsl(39deg, 89%, 49%);
  }
  html body main .red {
    border: solid 2rem hsl(349deg, 71%, 52%);
  }
  html body main .container {
    background-size: 40vw;
  }
  html body main .container #blue {
    top: 14%;
  }
  html body main .container #yellow {
    top: 14%;
  }
  html body main .container #red {
    bottom: 18%;
  }
  html body main .seerules,
html body main .results__result__play-again {
    font-size: 2.5rem;
  }
  html body main .results__choice__text {
    font-size: 2.5em;
  }
  html body main .results__result__text {
    font-size: 6rem;
  }
  html body main .results__result__play-again {
    padding: 2rem 8rem;
  }
  html body main .seerules {
    margin-top: 4rem;
  }
  html body footer {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  html body {
    padding: 5% 10% 3% 10%;
    align-items: center;
  }
  html body .rules {
    height: 50%;
    width: 50%;
    top: 20%;
    left: 20%;
    padding: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  html body .rules__name {
    text-align: left;
    order: 1;
    flex-basis: 90%;
  }
  html body .rules__image {
    order: 3;
    height: 90%;
  }
  html body .rules__cross {
    order: 2;
    text-align: right;
    width: 2rem;
    height: 2rem;
  }
  html body header {
    width: 80%;
  }
  html body header .header__title {
    flex-basis: 25%;
  }
  html body main {
    margin-top: 5%;
  }
  html body main .container #blue {
    top: 0%;
    left: 15%;
  }
  html body main .container #yellow {
    top: 0;
    right: 15%;
  }
  html body main .container #red {
    left: 37%;
    bottom: 10%;
  }
  html body main .results {
    width: 80%;
    align-items: space-between;
    margin-top: 0%;
  }
  html body main .results__choice__singular {
    width: 30%;
  }
  html body main .results__choice__singular .circle {
    margin-top: 15%;
  }
  html body main .results__choice__text {
    top: 2em;
  }
  html body main .results__result {
    position: absolute;
    left: 33.3%;
    top: 25%;
  }
  html body main .seerules {
    position: fixed;
    bottom: 8%;
    right: 5%;
  }
  html body footer .attribution {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  html body main {
    margin-top: 0;
  }
  html body main .results__choice__singular .circle {
    margin-top: 8%;
  }
  html body main .results__result {
    left: 38%;
  }
  html body footer .attribution {
    margin-top: 6rem;
  }
}/*# sourceMappingURL=style.css.map */