@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;

  body {
    height: 100vh;
    // background: radial-gradient(
    //     circle farthest-corner at top left,
    //     hsl(214, 47%, 23%),
    //     hsl(237, 49%, 15%)
    background-color: hsl(214, 47%, 23%);
    padding: 10% 10% 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .hidden {
      visibility: hidden;
    }

    .rules {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20% 10%;

      &__name {
        font-weight: bold;
        color: #343d5b;
        font-size: 3rem;
        text-align: center;
        height: 20%;
      }
      &__image {
        img {
          width: 100%;
        }
      }
      &__cross {
        text-transform: lowercase;
        height: 10%;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: #ccced1;
      }
    }

    header {
      // background-color: violet;
      display: flex;
      justify-content: space-between;
      border: solid 0.3rem hsl(217, 16%, 45%);
      border-radius: 0.8rem;
      padding: 5%;

      .header__title {
        flex-basis: 40%;
        // background-color: yellow;
        img {
          width: 100%;
        }
      }

      .header__score {
        flex-basis: 25%;
        background-color: white;
        border-radius: 0.3rem;
        padding: 2%;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-weight: bold;

        &__name {
          // background-color: yellow;
          height: 33%;
          color: hsl(229, 64%, 46%);
          font-size: 100%;
        }

        &__points {
          // background-color: green;
          height: 66%;
          color: hsl(229, 25%, 31%);
          vertical-align: middle;
          font-size: 250%;
        }
      }
    }

    main {
      // background-color: yellow;
      // border: solid pink 3px;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 10%;
      // margin-bottom: 10%;

      .container {
        // margin-top: 10%;
        // margin-bottom: 10%;
        height: 80%;
        background-image: url(images/bg-triangle.svg);
        background-size: 50vw;
        background-repeat: no-repeat;
        background-position: center 50px;
        position: relative;

        .circle {
          position: absolute;
          // display: inline-block;
          background-color: white;
          border-radius: 50%;
          height: 8rem;
          width: 8rem;
          padding: 13%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 4rem;
          }
        }
        #blue {
          border: solid 1.2rem hsl(230, 89%, 62%);
          top: 10px;
          left: 12%;
        }
        #yellow {
          border: solid 1.2rem hsl(39, 89%, 49%);
          top: 10px;
          right: 12%;
        }
        #red {
          border: solid 1.2rem hsl(349, 71%, 52%);
          left: 32%;
          top: 130px;
        }
      }

      .seerules {
        display: inline-block;
        color: white;
        font-size: 1.8rem;
        // width: 50px;
        margin-left: auto;
        margin-right: auto;
        border: solid white 0.16rem;
        border-radius: 1rem;
        padding: 0.8rem 4rem;
      }
    }
  }

  footer {
    // background-color: pink;
    padding-bottom: 5%;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    // text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 4ex;

    a {
      text-decoration: none;
      color: inherit;
      text-decoration: underline;
    }
  }
}
