@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 70%;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  // overflow: auto;

  body {
    height: 100vh;
    // background: radial-gradient(
    //     circle farthest-corner at top left,
    //     hsl(214, 47%, 23%),
    //     hsl(237, 49%, 15%)
    background-color: hsl(214, 47%, 23%);
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 100vh;
    // width: 100vw;
    // overflow: hidden;

    .hidden {
      visibility: hidden;
    }

    .rules {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: white;
      padding: 10% 5% 5% 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      &__name {
        // background-color: aquamarine;
        color: #343d5b;
        font-size: 2rem;
        text-align: center;
      }
      &__image {
        // background-color: yellow;
        height: 40%;
      }
      &__cross {
        // background-color: pink;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    header {
      // background-color: violet;
      display: flex;
      justify-content: space-between;
      border: solid 0.2rem hsl(217, 16%, 45%);
      border-radius: 0.8rem;
      padding: 5%;

      .header__title {
        // background-color: greenyellow;
        display: flex;
        justify-content: center;
        img {
          object-fit: contain;
          width: 6rem;
        }
      }

      .header__score {
        height: 5rem;
        width: 5.5rem;
        background-color: white;
        border-radius: 0.3rem;
        padding: 2%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__name {
          // background-color: yellow;
          height: 33%;
          color: hsl(229, 64%, 46%);
          font-size: 0.8rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &__points {
          // background-color: green;
          height: 66%;
          color: hsl(229, 25%, 31%);
          vertical-align: middle;
          font-size: 2.2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    main {
      // background-color: green;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .circle {
        position: absolute;
        // display: inline-block;
        background-color: white;
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 3rem;
        }
      }

      .blue {
        border: solid 1rem hsl(230, 89%, 62%);
      }
      .yellow {
        border: solid 1rem hsl(39, 89%, 49%);
      }
      .red {
        border: solid 1rem hsl(349, 71%, 52%);
      }

      .container {
        position: relative;
        width: 100%;
        height: 80%;
        background-image: url(images/bg-triangle.svg);
        background-size: 13rem;
        background-repeat: no-repeat;
        background-position: center 50%;

        #blue {
          top: 14%;
          left: 6%;
        }

        #yellow {
          top: 14%;
          right: 6%;
        }

        #red {
          left: 33%;
          bottom: 18%;
        }
      }

      .results {
        position: absolute;
        left: 0;
        // background-color: blue;
        width: 100%;
        height: 60%;
        display: flex;
        flex-wrap: wrap;

        &__choice {
          // background-color: rgb(88, 10, 134);
          width: 50%;
          height: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &__logo {
            position: static;
          }

          &__text {
            margin-top: 1rem;
            font-size: 1rem;
          }
        }

        &__result {
          // background-color: aquamarine;
          width: 100%;
          height: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          &__text {
            font-size: 3rem;
          }

          &__play-again {
            display: inline-block;
            background-color: white;
            font-size: 1rem;
            color: hsl(214, 47%, 23%);
            border: solid 1px white;
            border-radius: 0.8rem;
            margin-left: auto;
            margin-right: auto;
            padding: 0.8rem 4rem;
          }
        }
      }
    }
  }

  .seerules {
    display: inline-block;
    font-size: 1 rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: solid white 0.1rem;
    border-radius: 0.8rem;
    padding: 0.8rem 4rem;
  }

  footer {
    // background-color: rgb(57, 4, 13);
    text-align: center;
    font-weight: normal;
    text-transform: none;
    font-size: 0.8rem;

    a {
      text-decoration: none;
      color: inherit;
      text-decoration: underline;
    }
  }
}

@media (min-width: 375px) {
  html {
    body {
      main {
        .container {
          #blue {
            top: 12%;
            left: 12%;
          }

          #yellow {
            top: 12%;
            right: 12%;
          }

          #red {
            left: 35%;
            bottom: 18%;
          }
        }
      }
    }
  }
}

@media (min-width: 425px) {
  html {
    body {
      main {
        .container {
          #blue {
            top: 12%;
            left: 15%;
          }

          #yellow {
            top: 12%;
            right: 15%;
          }

          #red {
            left: 37%;
            bottom: 18%;
          }
        }
      }
    }
  }
}

// Starting from 768px (tablet) will display
@media (min-width: 768px) {
  html {
    body {
      padding: 5% 10% 5% 10%;

      .rules {
        align-items: center;

        &__name {
          font-size: 4rem;
        }

        &__cross {
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      header {
        // padding: 2%;

        .header__title {
          img {
            width: 15rem;
          }
        }
        .header__score {
          height: 10rem;
          width: 10.5rem;

          &__name {
            font-size: 2rem;
          }

          &__points {
            font-size: 5rem;
          }
        }
      }

      main {
        .circle {
          padding: 10%;
          img {
            width: 5rem;
          }
        }
        .blue {
          border: solid 2rem hsl(230, 89%, 62%);
        }
        .yellow {
          border: solid 2rem hsl(39, 89%, 49%);
        }
        .red {
          border: solid 2rem hsl(349, 71%, 52%);
        }

        .container {
          background-size: 40vw;

          #blue {
            top: 14%;
            // left: 15%;
          }

          #yellow {
            top: 14%;
            // right: 15%;
          }
          #red {
            // left: 36%;
            bottom: 18%;
          }
        }

        .seerules,
        .results__result__play-again {
          font-size: 2.5rem;
        }

        .results {
          &__choice__text {
            font-size: 2.5em;
            // top: 10em;
          }
          &__result {
            &__text {
              font-size: 6rem;
            }
            &__play-again {
              padding: 2rem 8rem;
            }
          }
        }

        .seerules {
          margin-top: 4rem;
        }
      }
      footer {
        font-size: 1.8rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  html {
    body {
      padding: 5% 10% 3% 10%;
      align-items: center;

      .rules {
        height: 50%;
        width: 50%;
        top: 20%;
        left: 20%;
        padding: 5%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &__name {
          text-align: left;
          order: 1;
          flex-basis: 90%;
        }

        &__image {
          order: 3;
          height: 90%;
        }
        &__cross {
          order: 2;
          text-align: right;
          width: 2rem;
          height: 2rem;
        }
      }

      header {
        width: 80%;
        .header__title {
          flex-basis: 25%;
        }
      }
      main {
        margin-top: 5%;

        .container {
          #blue {
            top: 0%;
            left: 15%;
          }

          #yellow {
            top: 0;
            right: 15%;
          }

          #red {
            left: 37%;
            bottom: 10%;
          }
        }

        .results {
          width: 80%;
          align-items: space-between;
          margin-top: 0%;

          &__choice {
            &__singular {
              width: 30%;

              .circle {
                margin-top: 15%;
              }
            }
            &__text {
              top: 2em;
            }
          }

          &__result {
            position: absolute;
            left: 33.3%;
            top: 25%;
          }
        }

        .seerules {
          position: fixed;
          bottom: 8%;
          right: 5%;
        }
      }

      footer {
        .attribution {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  html {
    body {
      main {
        margin-top: 0;
        .results {
          &__choice {
            &__singular {
              .circle {
                margin-top: 8%;
              }
            }
          }
          &__result {
            left: 38%;
          }
        }
      }

      footer {
        .attribution {
          margin-top: 6rem;
        }
      }
    }
  }
}
